.inter-fontify {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

* {
  text-align: center;
  font-family: "Inter";
}

body {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  color: black;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 50px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
main {
  background-color: #f7e9e3;
  width: 50%;
  padding: 30px;
  border-radius: 13px;
  margin: 5% auto;
}

p {
  padding: 15px;
  font-size: 14px;
}
.button {
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 7px;
  margin: 25px;
}
a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}
img {
  border-radius: 50%;
}

.button:hover {
  background-color: #ffc0c2;
}
.button a:hover {
  color: black;
}
